
body {
    font-family: Arial, sans-serif;
    background-image: url("https://media.gettyimages.com/id/1167050865/vector/black-background.jpg?s=612x612&w=0&k=20&c=wqZcwdLWq7DqZKz41vaBMVZhLtoqTbCpLaWO4HltAA8=");
    text-align: center;
    padding: 20px;
}